@import "../helper/border-radius";
@import "../helper/box-shadow";
@import "font";


$FONT_LINE_HEIGHT: 18px !default;

$CODE_BACKGROUND: #FEFBF3 !default;
//$CODE_BACKGROUND: #f5f5f5 !default;
// FEE9CC

// Inline and block code styles
code, pre {
	padding: 0 3px 2px;
	@include border-radius(3px);
	@include font-stack-monaco;
	font-size: 12px;
	background: $CODE_BACKGROUND;
}

code {
	padding: 1px 3px;
	@include box-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}

pre {
	display: block;
	padding: $FONT_LINE_HEIGHT / 2;
	margin: 0 0 $FONT_LINE_HEIGHT;
	line-height: $FONT_LINE_HEIGHT;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));

	code {
		display: block;
		padding: 0;
		@include box-shadow(none);
	}
}