
$FONT_LINE_HEIGHT: 18px !default;
$FONT_SIZE: 13px !default;

$FONT_SIZE_H1: 30px !default;
$FONT_SIZE_H2: 24px !default;
$FONT_SIZE_H3: 18px !default;
$FONT_SIZE_H4: 16px !default;
$FONT_SIZE_H5: 14px !default;
$FONT_SIZE_H6: $FONT_SIZE !default;

$FONT_COLOR: #444 !default;
$FONT_COLOR_LIGHTER: lighten($FONT_COLOR, 50%) !default;
$FONT_COLOR_LIGHT: lighten($FONT_COLOR, 25%) !default;
$FONT_COLOR_DARK: darken($FONT_COLOR, 25%) !default;
$FONT_COLOR_DARKER: darken($FONT_COLOR, 50%) !default;

$LINK_COLOR: #0069d6 !default;
$LINK_COLOR_HOVER: darken($LINK_COLOR, 10) !default;
$LINK_HOVER_UNDERLINE: true !default;

$HR_COLOR: $FONT_COLOR_LIGHTER !default;


body {
	font-size: $FONT_SIZE;
	line-height: $FONT_LINE_HEIGHT;
	color: $FONT_COLOR;
}

// Paragraphs
p {
	margin-bottom: $FONT_LINE_HEIGHT / 2;

	small {
		font-size: $FONT_SIZE - 2;
		color: $FONT_COLOR_LIGHT;
	}
}

// Links
a {
	color: $LINK_COLOR;

	&:hover {
		color: $LINK_COLOR_HOVER;
		@if ($LINK_HOVER_UNDERLINE) {
			text-decoration: underline;
		}
	}
}

// Headings
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	color: $FONT_COLOR_DARK;

	small {
		color: $FONT_COLOR_LIGHTER;
		font-weight: 400;
	}
}

h1 {
	margin-bottom: $FONT_LINE_HEIGHT;
	font-size: $FONT_SIZE_H1;
	line-height: $FONT_LINE_HEIGHT * 2;

	small {
		font-size: $FONT_SIZE_H4 + 2;
	}
}

h2 {
	font-size: $FONT_SIZE_H2;
	line-height: $FONT_LINE_HEIGHT * 2;

	small {
		font-size: $FONT_SIZE_H5;
	}
}

h3, h4, h5, h6 {
	line-height: $FONT_LINE_HEIGHT * 2;
}

h3 {
	font-size: $FONT_SIZE_H3;

	small {
		font-size: $FONT_SIZE_H5;
	}
}

h4 {
	font-size: $FONT_SIZE_H4;

	small {
		font-size: $FONT_SIZE_H6 - 1;
	}
}

h5 {
	font-size: $FONT_SIZE_H5;
}

h6 {
	font-size: $FONT_SIZE_H6;
	color: $FONT_COLOR_LIGHT;
	text-transform: uppercase;
}


// Horizontal rules
hr {
	margin: 0 0 $FONT_LINE_HEIGHT;
	border: 0;
	border-bottom: 1px solid $HR_COLOR;
}

// Blockquotes
blockquote {
	margin-bottom: $FONT_LINE_HEIGHT;
	border-left: 5px solid #eee;
	padding-left: 15px;
	font-size: $FONT_SIZE + 1;

	p {
		margin-bottom: 0;
	}

	small {
		display: block;
		font-size: $FONT_SIZE - 1;
		color: $FONT_COLOR_LIGHTER;
		&:before {
			content: '\2014 \00A0';
		}
	}
}

// Addresses
address {
	display: block;
	margin-bottom: $FONT_LINE_HEIGHT;
}