
$DEBUG_ENABLED: false;


/*
$PATH_FONT: "/assets/font/";

$FONT_SIZE: 13px !default;
$FONT_LINE_HEIGHT: 18px !default;

$FONT_COLOR: #444 !default;
$FONT_COLOR_LIGHTER: lighten($FONT_COLOR, 50%) !default;
$FONT_COLOR_LIGHT: lighten($FONT_COLOR, 25%) !default;
$FONT_COLOR_DARK: darken($FONT_COLOR, 25%) !default;
$FONT_COLOR_DARKER: darken($FONT_COLOR, 50%) !default;

$LINK_COLOR: #0069d6 !default;
$LINK_COLOR_HOVER: darken($LINK_COLOR, 10) !default;
$LINK_HOVER_UNDERLINE: true !default;

$CODE_BACKGROUND: #f5f5f5;

$GRID_COLUMNS: 16 !default;
$GRID_COLUMN_WIDTH: 40px !default;
$GRID_GUTTER_WIDTH: 20px !default;

*/