// Project defines
@import "defines";

// Core
@import "library/core";

// Modules
@import "library/module/debug";
@import "library/module/font";

@import "library/module/reset";
@import "library/module/grid";
@import "library/module/layout";

@import "library/module/typography";
@import "library/module/list";
@import "library/module/code";
@import "library/module/table";
@import "library/module/form";


/*
	TODO:

	forms
	buttons
	alerts/message
*/


// Show grid info
.show-grid {
	background: #f5f5f5;
	margin-bottom: 20px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	@include border-radius(3px);
	@include box-shadow(0 0px 1px 1px rgba(0, 0, 0, 0.1));
}
